/*
 * Various
 */

 html {
    font-family: Bebas,Arial,sans-serif;
    background-image: url('gfx/bgAdmin.png');
    background-size:cover
}

h1 {
    font-size: 25px;
}
h2 {
    font-size: 16px;
}
.row {
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
}
.row.no-border {
    padding-bottom: 0px;
    margin-bottom: 0px;
    border-bottom: none;
}
#container {
    height: auto;
}

/*
 * Loading
 */
#loading {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 4px 4px;
    padding: 20px;
    text-align: center;
}

/*
 * Settings
 */
#settings {
    display: none;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 4px 4px;
    padding: 20px;
}
#settings-header {
    text-align: center;
    padding-bottom: 25px;
}
.admin-checkbox-label {
    line-height: 32px;
}

/*
 * Slider
 */
#double,
#triple,
#minmax {
    width: 100%;
}
.tooltip-inner {
    max-width: none;
}

/*
 * Names
 */
.admin-names-remove {
    color: red;
    position: absolute;
    right: 15px;
    top: 10px;
    cursor: pointer;
}

.file-upload-button{
    padding-left: 0;
}

.file-upload-button::file-selector-button{
    cursor: not-allowed;
    font-family: Bebas,Arial,sans-serif;
    height: 32px;
    border-radius: 5px;
    background-color: #438ACA;
    color: white;
    border-color: lightgrey;
    border-width: 0.5px;
    border-style:solid;

}