/*
 * Spinner
 */
.spinner {
    width: 830px;
    padding: 10px;
    margin: 0 auto;
    height: 130px;
    position: relative;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 4px 4px;
    margin-bottom: 25px;
    display: none;
}
.spinner-holder {
    width: 830px;
    overflow: hidden;
    height: 130px;
}
.spinner ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
    position: absolute;
    top: 0px;
    left: 0px;
    transition: all 8s ease 0s;
    width: 1000000px;
}
.spinner ul li {
    float: left;
    height: 150px;
    width: 140px;
    transition: all 1s ease 0s;
}
.list-container {
    width: 110px;
    height: 110px;
    padding: 10px;
    background-color: #607386;
    color: #fff;
    font-size: 24px;
    text-align: center;
    border-radius: 4px 4px;
    display: flex;
    justify-content:center;
    align-content:center;
    flex-direction:column;
}

/*
 * Line
 */
.line {
    width: 4px;
    height: 150px;
    position: absolute;
    left: 50%;
    margin-left: -2px;
    top: 0px;
    z-index: 100;
    transition: all 1s ease 0s;
}
.line-inner1 {
    height: 150px;
    width: 3px;
    background-color: rgba(255, 0, 0, 0.75);
    position: absolute;
    left: 0px;
    top: 0px;
}
.line-inner2 {
    height: 150px;
    width: 1px;
    background-color: rgba(224, 41, 41, 0.75);
    position: absolute;
    left: 3px;
    top: 0px;
}